
@{
    ViewBag.Title = "Volvo";
}

<h2>Volvo</h2>
<h3>Select Volvo model:</h3>
<form action="/Company/ShowVolvoDecsription" method="post">
    <input type="radio" name="Model" value="S 60" checked />S 60<br/>
    <input type="radio" name="Model" value="XC 70" />XC 70<br />
    <input type="radio" name="Model" value="S 90" />S 90<br />
    <br />
    <input type="submit" id="button" value="Select" />
</form>


